@model Svetlina.Data.Models.Worker

@{
    ViewData["Title"] = "Details";
}
<html style="height:100%">
    <body>

    </body>
@if (User.IsInRole("Administrator"))
{
<h1>Details</h1>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkerImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkerInfo)
        </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SpecialisationType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SpecialisationType)
            </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WorkerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

}
<div style="padding:5%">


<link href="~/css/site.css" rel="stylesheet" />
<div class="worker-info" >
    <img src="@Model.WorkerImage" alt="Worker Photo" class="worker-photo">
    <div class="info">
        <h1>@Model.WorkerName</h1>
        @* <p><strong>Професия:</strong>@Model.SpecialisationType</p> *@
        <p><strong>Телефон: </strong>@Model.PhoneNumber</p>
        <p><strong>Описание: </strong>@Model.WorkerInfo</p>
    </div>
</div>
</div>
</html>