@model IEnumerable<Svetlina.Data.Models.Worker>

@{
    ViewData["Title"] = "Index";
}

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center container-lg">
     @if (User.IsInRole("Administrator"))
        {
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerImage)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.SpecialisationType)
            </th>
           
           
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem=>item.WorkerInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.SpecialisationType)
            </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.Project.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialisationType)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
@foreach (var i in Model)
{

    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="@i.WorkerImage" alt="...">
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">@i.WorkerName</h5>
                    <!-- Product price-->
                    <p> @i.PhoneNumber</p>

                   <p> @i.SpecialisationType</p>
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-action="Details" asp-route-id="@i.WorkerId">Детайли</a></div

            </div>
        </div>
    </div>
}
</div>
