@model IEnumerable<Svetlina.Data.Models.Worker>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialisationType)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.Project.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialisationType)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
